---
---

@import "{{ site.theme }}";

.main-content table { border: none !important; outline:none !important; border-collapse: collapse !important }
.main-content th, .main-content td { border: none !important; outline:none !important; }

.main-content td img {
    vertical-align: top;
    width: 100px;
    max-width:100px !important;
}

