---
---

@import "{{ site.theme }}";

.main-content table {
     border: none !important;
     outline:none !important;
     border-collapse: collapse !important;
}
.main-content table th, .main-content table td {
    vertical-align: top;
     border: none !important;
     outline:none !important;
}
.photo {
    vertical-align: top;
    width: 100px;
    max-width:100px !important;
}
 
.float-right {
    float: right;
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 1rem 6rem;
    }
}
